@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="text-center">Brett's Trash</h1>
    <p class="lead text-center">We pick up trash 7 days a week!</p>
    <p></p>
</div>
<br />
<br />
<div class="row">
    <div class="col-md-4">
        <h2 class="text-center">Standard Service</h2>
        <p class="text-center">
            For the low price of $15 a week, we will pick up your trash on any pre-assigned day.
        </p>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2 class="text-center">Extra Pickups</h2>
        <p class="text-center">If you need to schedule an extra pickup during the week, there is a $25 charge.</p>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2 class="text-center">Join us today!</h2>
        <p class="text-center">Sign up now for world class trash!</p>
        <p></p>
    </div>
</div>