@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Brett's Trash</h1>
    <p class="lead">We pick up trash 7 days a week!</p>
    <p></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Standard Service</h2>
        <p>
            For the low price of $15 a week, we will pick up your trash on any pre-assigned day.
        </p>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2>Extra Pickups</h2>
        <p>If you need to schedule an extra pickup during the week, there is a $25 charge.</p>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p></p>
        <p></p>
    </div>
</div>