
@{
    ViewBag.Title = "Index";
}

@*@if (ViewBag.displayMenu == "Yes")
{
    <h1>Welcome Admin. Now you can create user Role.</h1>
    <h3>
        <li>@Html.ActionLink("Manage Role", "Index", "Role")</li>
    </h3>
}*@
if (ViewBag.displayMenu == "Employee")
{
    <h1>Welcome Employee.</h1>
    <h3>
        @Html.ActionLink("Index", "Index", "Employee")
    </h3>
}
else if (ViewBag.displayMenu == "Customer")
{
    <h1>Welcome Customer.</h1>
    <h3>
        @Html.ActionLink("Index", "Index", "Customer")
    </h3>
}
else
{
    <h2>  Welcome <strong>@ViewBag.Name</strong> :) .We will add user module soon </h2>
}  